{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_page %}
<title>{{page_title}}</title>
{% endblock %}

{% block title %} {{page_title}} {% endblock %}

{% block content %}

{% include 'messages.html' %}
<div class="col-md-12">
    <div class="box box-primary">
        <!-- form start -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="box-body">

                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        <div class="form-group">
                            {{ form.type_action|as_crispy_field }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        <div class="form-group">
                            {{ form.object_type|as_crispy_field }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        <div class="form-group">
                            {{ form.file_type|as_crispy_field }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        <div class="form-group">
                            {{ form.file|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" id="guardar" class="btn btn-success btn-sm">Guardar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
