{% if messages %}
    {% for message in messages %}
        <div style="width:95%" class="alert {% if message.tags %}alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %}>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {% if message.tags == "error" %}
                <label><i class="icon fa fa-warning"></i> {{ message }}</label>
            {% else %}
                <label><i class="icon fa fa-check"></i> {{ message }}</label>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}